:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
.outer {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  margin: 1rem auto;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
  max-width: 350px;
  flex-grow: 1;
}
.outer.positive{
  border-right: 4px solid green;
}
.outer.negative{
  border-right: 4px solid red;
}
.outercontainer{
  display: flex;
  align-items: center;
  margin: 1rem auto;
  max-width: 400px;
  gap:10px;
}
.dltbtn{
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  cursor: pointer;
}
.inc-exp-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
  max-width: 350px;
  background-color: #fff;
  margin: 1rem auto;
}
.bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgb(146, 156, 163);
  max-width: 600px;
  height: auto;
  background-color: #fff;
  margin: 1rem auto;
}
.inp{
  display: flex;
flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
  max-width: 450px;
  height: 80px;
  background-color: #fff;
  margin: 1rem auto;
  justify-content: space-around;

}
.but{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
  max-width: 200px;
  height: 5px;
  background-color: #fff;
  margin: 1rem auto;
}
.balance{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgb(12, 51, 17);
  max-width: 350px;
  background-color: #fff;
  margin: 1rem auto;
  
}
.income, .expense {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.income.title , .expense.title {
  font-size: 20px;
  color: black;
}
.income{
color: green;
}
.expense{
  color: red;
  }
.block{
width: 3px;
background-color: #aaa;
border-radius: 10px;
} 
form .error{
  color: red;
  font-size: 12px;
  margin: 0 0 0.75rem 0;
}